@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
    }
}

* {
    border-color: #334155;
    border-width: 0px;
    border-style: solid;
}

body {
    background-color: #0f172a;
    color: #f8fafc;
    font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}